Tihar Sales Analysis

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df=pd.read_csv(r"C:\Users\USER\Downloads\Diwali Sales Data.csv",encoding='unicode_escape')
df.shape

(11251, 15)

In [ ]:
df.head()
df.info()

In [9]:
df.drop(['Status','unnamed1'],axis=1,inplace=True)

In [10]:
#check for null values
pd.isnull(df).sum()

User_ID              0
Cust_name            0
Product_ID           0
Gender               0
Age Group            0
Age                  0
Marital_Status       0
State                0
Zone                 0
Occupation           0
Product_Category     0
Orders               0
Amount              12
dtype: int64

In [11]:
#drop null vlaues
df.dropna(inplace=True)

In [ ]:
pd.isnull(df).sum()

#Exploratory Data Analysis

Gender